@page
@model ServiceHost.Areas.Admin.Pages.Shop.Inventory.OperationLoggs
@{
}


<div class="panel-heading"><h3 class="panel-title">  ایجاد انبار جدید </h3></div>

<div class="modal-body">
   <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
           <table id="datatable" class="table table-striped table-bordered">
               <thead>
                   <tr>
                       <th>تعداد</th>
                       <th>تاریخ</th>
                       <th>موجودی</th>
                       <th>نوع عملیات</th>
                       <th>عملگر</th>
                       <th>توضیحات</th>

                   </tr>
               </thead>
               <tbody>
                   @foreach (var item in Model.operations)
                   {
                       <tr class="text @(item.Operation ? "bg-success" : "bg-danger")">
                           <td>@item.Count</td>
                           <td>@item.OperationDate</td>
                           <td>@item.CurrentCount</td>
                           <td>
                               @(item.Operation ? "افزایش" : "کاهش")
                           </td>
                           <td>@item.OperatorName</td>
                           <td>@item.Description</td>
                       </tr>

                   }
               </tbody>
           </table>

       </div>
   </div>
</div>