@page
@inject Frameworks.IAuthHelper authhelper;
@model ServiceHost.Pages.CheckoutModel
@using Frameworks;
@{
    ViewData["Title"] = "پرداخت";
}


<div class="checkout_page_bg">
    <div class="container">
        <div class="Checkout_section">
            <div class="row">
                <div class="col-12">
                    @if (!authhelper.IsAuthenticated())
                    {
                        <div class="user-actions">
                            <h3>
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                حساب کاربری دارید؟
                                <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_login" aria-expanded="true">وارد حساب خود شوید</a>

                            </h3>
                            <div id="checkout_login" class="collapse">
                                <div class="checkout_info">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    <form action="#">
                                        <div class="form_group">
                                            <label>نام کاربری یا ایمیل <span>*</span></label>
                                            <input type="text" dir="ltr">
                                        </div>
                                        <div class="form_group">
                                            <label>رمز عبور <span>*</span></label>
                                            <input type="password" dir="ltr">
                                        </div>
                                        <div class="form_group group_3 ">
                                            <button type="submit">ورود</button>
                                            <label for="remember_box">
                                                <input id="remember_box" type="checkbox">
                                                <span> به خاطر سپاری </span>
                                            </label>
                                        </div>
                                        <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_left">
                            <form action="#">
                                <h3>جزئیات پرداخت</h3>
                                <label for="order_note">توضیحات سفارش</label>
                                <textarea id="order_note" placeholder="یادداشت های مربوط به سفارش، مانند توضیح نحوه ارسال."></textarea>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_right">
                            <form action="#">
                                <h3>سفارش شما</h3>
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>محصول</th>
                                                <th> درصد تخفیف</th>
                                                <th>مقدار کل </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.cart.cartItems)
                                            {
                                                <tr>
                                                    <td><span class="d-inline-block">@item.Name</span> <strong>× @item.Count</strong></td>
                                                    <td>@item.DiscountRate %</td>
                                                    <td>@item.ItemPayAmount.ToMoney()</td>
                                                </tr>

                                            }
                                        </tbody>
                                      
                                    </table>
                                    <table>
                                        <tfoot>
                                            <tr>
                                                <th>جمع سبد</th>
                                                <td>@Model.cart.TotalAmount.ToMoney()</td>
                                            </tr>
                                            <tr>
                                                <th>جمع تخفیف</th>
                                                <td>@Model.cart.DiscountAmount.ToMoney()</td>
                                            </tr>
                                            <tr>
                                                <th>حمل و نقل</th>
                                                <td><strong>20,000</strong></td>
                                            </tr>
                                            <tr class="order_total">
                                                <th>مجموع سفارش</th>
                                                <td><strong>@((Model.cart.TotalAmount+20000).ToMoney())</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment_method" id="accordion">
                                    <div class="panel-default">
                                        <label data-toggle="collapse" data-target="#method" aria-controls="method">
                                            <input name="check_method" type="radio" checked> پرداخت نقدی
                                        </label>

                                        <div id="method" class="collapse show one" data-parent="#accordion">
                                            <div class="card-body1">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-default">
                                        <label data-toggle="collapse" data-target="#collapsedefult" aria-controls="collapsedefult">
                                            <input name="check_method" type="radio"> پرداخت آنلاین <img src="assets/img/icon/papyel.png" alt="">
                                        </label>

                                        <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                            <div class="card-body1">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order_button">
                                        <button type="submit" asp-page-handler="Pay">ادامه پرداخت</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>