@page "{id:long}"
@model ServiceHost.Pages.ProductDetailModel
@inject Frameworks.IAuthHelper auth;
@{ 
    var authDetail = auth.CurrentAccountInfo();
} 

@using Frameworks;

@{
    ViewData["Title"] = "صفحه ی محصول";
}


<div class="product_page_bg">

    <div class="container">

        <div class="product_details_wrapper mb-55">
            <!--product details start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product-details-tab">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" title="@Model.Product.PictureTitle" src="~/Img/ProductImages/@Model.Product.ProductName/@Model.Product.Picture" data-zoom-image="~/Img/ProductImages/@Model.Product.ProductName/@Model.Product.Picture" alt="@Model.Product.PictureAlt">
                                </a>
                            </div>
                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">

                                    @foreach (var pic in Model.catalogNames)
                                    {
                                        <li>
                                            <a class="elevatezoom-gallery active" data-update="" data-image="~/Img/ProductImages/@Model.Product.ProductName/@pic" data-zoom-image="~/Img/ProductImages/@Model.Product.ProductName/@pic">
                                                <img src="~/Img/ProductImages/@Model.Product.ProductName/@pic" title="@Model.Product.PictureTitle" alt="@Model.Product.PictureAlt" height="50" width="60">
                                            </a>

                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">
                            <form method="post">

                                <h3><a href="#">@Model.Product.ProductName</a></h3>



                                <div class="price_box">
                                    <span class="old_price">@Model.Product.DoublePrice.ToMoney() تومان</span>
                                    @if (Model.Product.PriceAfterDiscount != null)
                                    {
                                        <span class="current_price">@double.Parse(Model.Product.PriceAfterDiscount).ToMoney() تومان </span>
                                    }
                                </div>
                                <div class="product_desc">
                                    <p>@Model.Product.ShortDescription</p>
                                </div>

                                <div class="product_variant quantity">
                                    <label>تعداد</label>
                                    <input min="1" max="100" value="1" type="number" id="productCount">
                                    <a class="cart-btn" onclick="addToCart('@Model.Product.Id', '@Model.Product.ProductName', '@Model.Product.DoublePrice',  '@Model.Product.Picture')">
                                        @*<button class="button" type="submit">افزودن به سبد</button>*@
                                        <i class="ion-bag"></i>
                                        افزودن به سبد خرید

                                    </a>
                                </div>
                                @*<div class=" product_d_action">
                                <ul>
                                    <li><a href="#" title="افزودن به علاقه‌مندی‌ها">+ افزودن به علاقه‌مندی‌ها</a></li>
                                    <li><a href="#" title="افزودن به علاقه‌مندی‌ها">+ مقایسه</a></li>
                                </ul>
                            </div>*@
                                <div class="product_meta">
                                    <span>دسته: <a asp-page="Category" asp-route-CategoryId="@Model.Product.CategoryId">@Model.Product.CategoryName</a></span>
                                </div>

                            </form>
                            <div class="priduct_social">
                                <ul>
                                    <li><a class="facebook" href="~/ProductDetail/@Model.Product.Id" title="facebook"><i class="fa fa-facebook"></i> لایک</a></li>
                                    <li><a class="twitter" href="~/ProductDetail/@Model.Product.Id" title="twitter"><i class="fa fa-twitter"></i> توییت</a></li>
                                    <li><a class="pinterest" href="~/ProductDetail/@Model.Product.Id" title="pinterest"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                                    <li><a class="google-plus" href="~/ProductDetail/@Model.Product.Id" title="google +"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                                    <li><a class="linkedin" href="#~/ProductDetail/@Model.Product.Id title="linkedin"><i class="fa fa-linkedin"></i> لینکدین</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--product details end-->
            <!--product info start-->
            <div class="product_d_info">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">مشخصات فنی</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">نقد و برررسی</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>@Model.Product.ShortDescription</p>
                                        <p>@Model.Product.Description</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sheet" role="tabpanel">
                                    <div class="product_d_table">
                                        <form action="#">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="first_child">سیستم عامل</td>
                                                        <td>@Model.Product.OperatingSystem</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">رم</td>
                                                        <td>@Model.Product.Ram گیگابایت</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">کیفیت دوربین</td>
                                                        <td>@Model.Product.Resolution مگاپیکسل</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">سایز صفحه نمایش</td>
                                                        <td>@Model.Product.ScreenSize اینچ</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">حافظه</td>
                                                        <td>@Model.Product.Storage</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">حسگر اثر انگشت</td>
                                                        <td>@Model.Product.TouchId</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">شبکه</td>
                                                        <td>@Model.Product.NetworkSupport</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <div class="product_info_content">
                                        <p>@Model.Product.Description</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="reviews_wrapper">
                                        <h2>@Model.Comments.Count نقد و بررسی برای این محصول</h2>
                                        @foreach (var cm in Model.Comments)
                                        {
                                            <div class="reviews_comment_box">
                                                <div class="comment_thmb">
                                                    <img src="assets/img/blog/comment2.jpg" alt="">
                                                </div>
                                                <div class="comment_text">
                                                    <div class="reviews_meta">

                                                        <p><strong>@cm.Username </strong>@cm.CreationDate</p>
                                                    </div>
                                                    <p>@cm.Text</p>
                                                </div>

                                            </div>
                                        }
                                        <div class="comment_title">
                                            <h2>یک نقد و بررسی بنویسید </h2>
                                            <p>ایمیل شما منتشر نخواهد شد. فیلد های الزامی مشخص شده اند</p>
                                        </div>

                                        @if (auth.IsAuthenticated())
                                        {
                                            <div class="product_review_form">
                                                <form asp-page-handler="Comment" method="post">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="review_comment">نقد و بررسی شما </label>
                                                            <textarea name="comment" id="review_comment"></textarea>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <label for="author">موضوع</label>
                                                            <input id="title" name="title" type="text">

                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <label for="author">متن</label>
                                                            <input id="Text" name="Text" type="text">

                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <label for="email">ایمیل </label>
                                                            <input type="email" id="email" type="email" dir="ltr">
                                                        </div>
                                                        <input type="hidden" name="UserId" id="UserId" value="@authDetail.Id"/>
                                                    </div>
                                                    <button type="submit">ثبت</button>
                                                </form>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-success">لطفا برای ثبت نظر اول وارد <b><a asp-page="./Account">حساب خود</a></b> شوید.</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product info end-->
        </div>

    </div>

</div>