@page
@model ServiceHost.Pages.ProfileModel
@{
}

@section Title{ <title>@(ViewData["Title"] ="پروفایل") | موبایل شاپ </title>}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">خانه</a></li>
                        <li><a asp-page="./Profile">پروفایل</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    ViewData["Title"] = "حساب من";
}
<div class="account_page_bg">
    <div class="container">
        <section class="main_content_area">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="#dashboard" data-toggle="tab" class="nav-link active">داشبورد</a></li>
                                <li> <a href="#orders" data-toggle="tab" class="nav-link">سفارشات</a></li>
                                <li><a href="#address" data-toggle="tab" class="nav-link">آدرس ها</a></li>
                                <li><a href="#account-details" data-toggle="tab" class="nav-link">جزئیات حساب</a></li>
                                <li><a href="login.html" class="nav-link">خروج</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade show active" id="dashboard">
                                <h3>داشبورد </h3>
                                <p>@Model.AccountInfo.FullName به پنل کاربری خود خوش آمدید</p>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h3>سفارشات</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>تاریخ</th>
                                                <th>وضعیت</th>
                                                <th>مبلغ پرداختی</th>
                                                <th>روش پرداخت</th>
                                                <th>کد پیگیری</th>
                                                <th>اقلام</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Account.Orders)
                                            {
                                                <tr>

                                                    <td>@item.Date</td>
                                                    @if (item.Status == 1)
                                                    {
                                                        <td>
                                                            <span class="success">در حال برسی</span>
                                                        </td>

                                                    }
                                                    else if (item.Status == 2)
                                                    {

                                                        <td>
                                                            <span class="success">ارسال شده</span>
                                                        </td>
                                                    }

                                                    else if (item.Status == 3)
                                                    {
                                                        <td>
                                                            <span class="success">بسته شده</span>
                                                        </td>
                                                    }
                                                    else if (item.Status == 4)
                                                    {
                                                        <span class="success">معلق</span>
                                                    }
                                                    <td>@item.PayAmount</td>
                                                    <td>
                                                        @if (item.PayMethod == 1)
                                                        {
                                                            <a>اینترنتی</a>
                                                        }
                                                        else if (item.PayMethod == 2)
                                                        {
                                                            <a>نقدی</a>
                                                        }
                                                    </td>
                                                    <td>@item.Code</td>

                                                    <td>
                                                       مشاهده

                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="address">
                                <div class="address">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form asp-page-handler="Address" method="post">

                                                <br>
                                                <label>کد پستی</label>
                                                <input type="text" name="PostalCode" id="PostalCode" value="@Model.Address.PostalCode">
                                                <label>استان</label>
                                                <input type="text" name="City" id="City" value="@Model.Address.City">
                                                <label>شهراستان</label>
                                                <input type="tel" name="County" id="County" value="@Model.Address.County">
                                                <label>آدرس دقیق</label>
                                                <textarea name="Address" id="Address">@Model.Address.Address</textarea>

                                                <br>

                                                <div class="save_button primary_btn default_button">
                                                    <button type="submit">ذخیره</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-details">
                                <h3>جزئیات حساب </h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form asp-page-handler="Info" method="post" enctype="multipart/form-data">
                                                <div id="qm">
                                                </div>
                                                <br />
                                                <div id="qm">
                                                    <div class="col-lg-3 col-sm-3 col-12">
                                                        <span>عکس پروفایل</span>
                                                        <div class="input-group">
                                                            <label class="input-group-btn">
                                                                <span class="btn btn-primary">
                                                                    Browse&hellip; <input type="file" name="Image" style="display: none;">
                                                                </span>
                                                            </label>
                                                            <input type="text" class="form-control" readonly>
                                                        </div>

                                                    </div>
                                                </div>
                                                <br />

                                                <br>
                                                <label>نام کاربری</label>
                                                <input type="text" name="Username" id="Username" value="@Model.AccountInfo.Username">
                                                <label>نام و نام خانوادگی</label>
                                                <input type="text" name="Fullname" id="Fullname" value="@Model.AccountInfo.FullName">
                                                <label>ایمیل</label>
                                                <input type="email" name="Email" id="Email" value="@Model.AccountInfo.Email">
                                                <label>موبایل</label>

                                                <input type="number" name="Number" id="Number" value="@Model.AccountInfo.Number">
                                                <input type="hidden" name="Id" id="Id" value="@Model.Account.Id">
                                                <input type="hidden" name="RoleId" id="RoleId" value="@Model.RoleId">

                                                <br>

                                                <div class="save_button primary_btn default_button">
                                                    <button type="submit">ذخیره</button>
                                                    <a class="btn btn-info" asp-page="./ChangePassword" asp-route-Id="@Model.Account.Id">تغییر رمز عبور</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<
<script>
    $(function () {

        // This code will attach `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });


        $(document).ready(function () {
            //below code executes on file input change and append name in text control
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

    });
</script>




