@page
@model ServiceHost.Areas.Admin.Pages.Shop.Products.EditModel
@{
}


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">ایجاد محصول</h3></div>
    <div class="panel-body">
        <div class=" form">



            <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>ProductName</label>
                    <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model.Products.ProductName" />
                </div>
                <div class="form-group">
                    <label>ProductCode</label>
                    <input type="text" class="form-control" id="ProductCode" name="ProductCode" value="@Model.Products.ProductCode" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" id="Description" name="Description">@Model.Products.Description</textarea>
                </div>
                <div class="form-group">
                    <label>ShortDescription</label>
                    <textarea type="text" class="form-control" id="ShortDescription" name="ShortDescription">@Model.Products.ShortDescription</textarea>
                </div>
                <div class="form-group">
                    <label>QuantityInStock</label>
                    <input type="number" class="form-control" id="QuantityInStock" name="QuantityInStock" value="@Model.Products.QuantityInStock" />
                </div>
                @*<div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Products.Price" />
                </div>*@


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-body">
                                    <div class="card" style="width: 40rem;">
                                        <div class="card-header">سئو</div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>PictureTitle</label>
                                                    <input type="text" class="form-control" id="PictureTitle" name="PictureTitle" value="@Model.Products.PictureTitle" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>PictureAlt</label>
                                                    <input type="text" class="form-control" id="PictureAlt" name="PictureAlt" value="@Model.Products.PictureAlt" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>Slug</label>
                                                    <input type="text" class="form-control" id="Slug" name="Slug" value="@Model.Products.Slug" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>Keywoard</label>
                                                    <input type="text" class="form-control" id="Keywoard" name="Keywoard" value="@Model.Products.Keywoard" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>MetaDescription</label>
                                                    <input type="text" class="form-control" id="MetaDescription" name="MetaDescription" value="@Model.Products.MetaDescription" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card" style="width: 40rem;">
                                        <div class="card-header">مشخصات موبایل</div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>Storage</label>
                                                    <input type="text" class="form-control" id="Storage" name="Storage" value="@Model.Products.Storage" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>ScreenSize</label>
                                                    <input type="text" class="form-control" id="ScreenSize" name="ScreenSize" value="@Model.Products.ScreenSize" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>NetworkSupport</label>
                                                    <input type="text" class="form-control" id="NetworkSupport" name="NetworkSupport" value="@Model.Products.NetworkSupport" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>OperatingSystem</label>
                                                    <input type="text" class="form-control" id="OperatingSystem" name="OperatingSystem" value="@Model.Products.OperatingSystem" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>Resolution</label>
                                                    <input type="text" class="form-control" id="Resolution" name="Resolution" value="@Model.Products.Resolution" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>Ram</label>
                                                    <input type="text" class="form-control" id="Ram" name="Ram" value="@Model.Products.Ram" />
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <label>TouchId</label>
                                                    <input type="text" class="form-control" id="TouchId" name="TouchId" value="@Model.Products.TouchId" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>بارگذاری تصویر اصلی</label>
                    <input type="file" class="form-control" id="OriginalImage" name="OriginalImage" />
                </div>

                <div class="form-group">
                    <label>بارگذاری کاتالوگ </label>
                    <input type="file" class="form-control" id="CatalogeImages" name="CatalogeImages" multiple />
                </div>

                <label>تصاویر آپلود شده</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">

                                @*<form asp-page-handler="DeletePhoto" method="post">

                                        @foreach (var item in Model.cataloges)
                                        {
                                            <img src="~/Img/ProductImages/@(item.Name)" height="80px" width="80px">
                                            <input type="hidden" name="Name" id="Name" value="@item.Name" />
                                            <button type="submit" class="btn-danger">حذف</button>
                                        }

                                    </form>*@

                             


                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        انتخاب گروه
                    </label>
                    <select asp-items="Model.Categories" name="CategoryId" id="CategoryId" class="form-control">
                        <option value="0">انتخاب گروه</option>
                    </select>
                </div>


                <button class="btn-success" type="submit">ویرایش</button>
            </form>
        </div>
    </div>
</div>




